.header {
  background-color: #3cb4ff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 350px;
      grid-template-columns: auto 350px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 8px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  font-family: "Verdana", "Arial", "sans-serif";
  color: black;
}

.logo {
  padding-left: 1em;
  display: block;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.links {
  background-color: #3cb4ff;
  border-left: 2px solid grey;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  margin: 0;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  text-align: center;
}

.links a:link, a:visited {
  color: black;
  text-decoration: none;
}

.links a:hover {
  background-color: grey;
  color: rgba(210, 210, 210, 0.3);
}

.link1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: inline;
}

.link2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: inline;
}

.link3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  display: inline;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#3cb4ff), to(grey));
  background: linear-gradient(#3cb4ff, grey);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.title {
  font-family: "Verdana", "Arial", "sans-serif";
  color: black;
  background-color: rgba(210, 210, 210, 0.3);
  text-align: center;
  font-size: 140%;
  width: 300px;
  padding: 0.5em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  border-left: 2px solid grey;
}

.body {
  font-family: "Verdana", "Arial", "sans-serif";
  text-align: center;
  font-size: 200%;
}

.gridContainer {
  background-color: rgba(200, 200, 200, 0.5);
  border-left: 2px solid grey;
  width: 216px;
  margin-left: auto;
  margin-right: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-gap: 1em;
  padding: 1em;
  text-align: center;
}

.grid1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: block;
  width: 100px;
  margin: auto;
}

.grid2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: block;
  width: 100px;
  margin: auto;
}

.text {
  text-align: center;
  padding: 1em;
  color: black;
  font-family: "Verdana", "Arial", "sans-serif";
  font-size: 110%;
}

.projectBox {
  margin: 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  font-family: "Verdana", "Arial", "sans-serif";
  font-size: 120%;
  grid-gap: 1.5em;
  margin-left: 15%;
  margin-right: 15%;
}

.projectWhiskey {
  display: block;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background-color: rgba(210, 210, 210, 0.3);
  border-left: grey solid 2px;
  padding-left: 1em;
}

.projectGame {
  display: block;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background-color: rgba(210, 210, 210, 0.3);
  border-left: grey solid 2px;
  padding-left: 1em;
}

.SPCCeportfolio {
  display: block;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background-color: rgba(210, 210, 210, 0.3);
  border-left: grey solid 2px;
  padding-left: 1em;
}
/*# sourceMappingURL=index.css.map */