$font: "Verdana", "Arial", "sans-serif"
$black: black
$grey: grey
$backGrey: rgba(210,210,210,.3)
$backBlue: rgb(60,180,255)

.header
    background-color: $backBlue
    display: grid
    grid-template-columns: auto 350px
    grid-template-rows: auto
    grid-gap: 8px
    width: 100%
    margin-left: auto
    margin-right: auto
    top: 0
    left: 0
    font-family: $font
    color: $black

.logo
    padding-left: 1em
    display: block
    grid-column: 1/2

.links
    background-color: $backBlue
    border-left: 2px solid $grey
    grid-column: 2/3
    display: grid
    margin: 0
    grid-template-columns: auto
    text-align: center

.links a:link, a:visited
    color: $black
    text-decoration: none

.links a:hover
    background-color: $grey
    color: $backGrey

.link1
    grid-column: 1/2
    display: inline

.link2
    grid-column: 2/3
    display: inline

.link3
    grid-column: 3/4
    display: inline

body
    background: linear-gradient($backBlue, $grey)
    background-repeat: no-repeat
    background-attachment: fixed

.title
    font-family: $font
    color: $black
    background-color: $backGrey
    text-align: center
    font-size: 140%
    width: 300px
    padding: 0.5em
    margin-top: 1em
    margin-left: auto
    margin-right: auto
    border-left: 2px solid $grey

.body
    font-family: $font
    text-align: center
    font-size: 200%

.gridContainer
    background-color: rgba(200, 200, 200, .5)
    border-left: 2px solid $grey
    width: 216px
    margin-left: auto
    margin-right: auto
    display: grid
    grid-template-columns: auto
    grid-gap: 1em
    padding: 1em
    text-align: center

@mixin grid
    display: block
    width: 100px
    margin: auto

.grid1
    grid-column: 1/2
    @include grid

.grid2
    grid-column: 2/3
    @include grid

.text
    text-align: center
    padding: 1em
    color: $black
    font-family: $font
    font-size: 110%

.projectBox
    margin: 2em
    display: grid
    grid-template-columns: auto
    font-family: $font
    font-size: 120%
    grid-gap: 1.5em
    margin-left: 15%
    margin-right: 15%

@mixin project
    display: block
    grid-column: 1/2
    background-color: $backGrey
    border-left: $grey solid 2px
    padding-left: 1em

.projectWhiskey
    @include project

.projectGame
    @include project

.SPCCeportfolio
    @include project